// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//RESPONSIVENESS
$bp-largest: 75em;  //1200px
$bp-large: 62.5em; //1000px


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-1;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content); //it defines the height
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [grid-end];  //it defines the width of columns

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); //it defines the height
        grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [grid-end];  //it defines the width of columns
    }
}