.homes{
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home{
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;


    &__img{
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/-1;

    }
    &__like{
        grid-row: 1/2;
        grid-column: 2/3;
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        Justify-self: end;
        margin: 1rem;
        
    }
    &__name{
        grid-column: 1/-1;
        justify-self: center;
        grid-row: 1/2;
        align-self: end;


        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        color: #fff;
        font-weight: 400;
        background-color: $color-secondary;
        width: 80%;
        transform: translateY(50%);
         
    }

    &__btn{
        grid-column: 1/-1;
    }

    &-location,
    &-rooms{
        margin-top: 2.5rem;
    }

    &-location,
    &-rooms,
    &-area,
    &-price{
        font-size: 1.5rem;
        justify-self: center;
        
        display: flex;
        flex-direction: column;
      
        
        
        svg{
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            align-self: center;
        }

    }
}
